<!DOCTYPE html>
<!--
Copyright 2019 Nathan P. Bombana

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144344454-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-144344454-2');
  </script>
  <meta charset="UTF-8">
  <title>Fire Distinguisher</title>
  <link rel="shortcut icon" href="images/favicon.png" />
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container h-100">
    <div class="row flex-grow-100">
      <div class="col-md-12">
        <img src="images/title.png" class="d-block ml-auto mr-auto"/>
      </div>
    </div>
    <div class="row <%= input && output !== null ? '' : ' d-none' %>">
      <div class="col-6">
        <img class="d-block ml-auto" src="images/<%= output ? 'isfire' : 'isntfire' %>.png"/>
      </div>
      <div class="col-6 d-flex">
        <img class="d-block m-auto output" src="uploads/<%= input %>"/>
      </div>
    </div>
    <div class="row <%= input && output !== null ? ' d-none' : '' %>">
      <div class="col-12">
        <img src="images/isitfire.png" class="d-block ml-auto mr-auto"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form action class="jumbotron mt-5" id="the-god-damn-form" enctype="multipart/form-data" method="post">
          <div class="form-group text-center">
            <label for="file-uploader">Upload a pic to check if thats fire</label>
            <input type="file" accept="image/*" name="firepic" id="file-uploader" class="form-control d-block ml-auto mr-auto"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script>
    $('#file-uploader').on('change', () => {
      $('#the-god-damn-form').submit();
    });
  </script>

</body>
</html>
